red/flows.json
[{"id":"5572fdc2.805504","type":"tab","label":"NodeRed KPI Dashboard"},{"id":"26f99f95.0128a","type":"tab","label":"Blynk Error dashboard"},{"id":"2dc4bf99.2d10d","type":"tab","label":"Flow 2"},{"id":"81d0b972.c77c8","type":"subflow","name":"Random Variable","info":"","in":[{"x":80,"y":20,"wires":[{"id":"178549d1.2d4566"}]}],"out":[{"x":670,"y":120,"wires":[{"id":"835d8204.229f08","port":0}]}]},{"id":"ede13430.58fe58","type":"ui_tab","z":"","name":"KPIs","icon":"dashboard"},{"id":"b07a2691.15906","type":"ui_group","z":"","name":"Membership","tab":"ede13430.58fe58","disp":true,"width":"6"},{"id":"87d9ac18.091b9","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":32,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e9f1a3d.06c966","type":"ui_group","z":"","name":"Orders","tab":"ede13430.58fe58","order":2,"disp":true,"width":"6"},{"id":"fe99df7.4917da","type":"ui_group","z":"","name":"Average cart value","tab":"ede13430.58fe58","disp":true,"width":"6"},{"id":"1b105745.1cbbc1","type":"ui_tab","z":"","name":"Sales","icon":"dashboard"},{"id":"653c35c.7a990cc","type":"blynk-websockets-client","z":"","name":"DashCon Demo","path":"ws://blynk-cloud.com:8082/websocket","key":"6a5a4b501c0e4d608f14c2a3e8dea50d"},{"id":"4dd5eca5.d0ad8c","type":"inject","z":"81d0b972.c77c8","name":"1s timer","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":100,"y":80,"wires":[["a0425c24.73d23"]]},{"id":"a0425c24.73d23","type":"random","z":"81d0b972.c77c8","name":"random [-1,1]","low":"-1","high":"1","inte":"true","x":260,"y":80,"wires":[["835d8204.229f08"]]},{"id":"3956cb87.651fec","type":"inject","z":"81d0b972.c77c8","name":"1m timer","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":100,"y":160,"wires":[["c30e2da8.ab921"]]},{"id":"32424daa.91273a","type":"inject","z":"81d0b972.c77c8","name":"5s timer","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":100,"y":120,"wires":[["8ba49eae.d50ba8"]]},{"id":"8ba49eae.d50ba8","type":"random","z":"81d0b972.c77c8","name":"random [-5,5]","low":"-5","high":"5","inte":"true","x":260,"y":120,"wires":[["835d8204.229f08"]]},{"id":"c30e2da8.ab921","type":"random","z":"81d0b972.c77c8","name":"random [-20,20]","low":"-20","high":"20","inte":"true","x":260,"y":160,"wires":[["835d8204.229f08"]]},{"id":"835d8204.229f08","type":"function","z":"81d0b972.c77c8","name":"accumulate value","func":"//node.warn(util.inspect(msg));\n\n\n\nif (msg.payload === undefined) {\n    node.warn('nope');\n    return;\n}\nif (typeof(msg.payload) == \"object\") {\n    //node.warn(msg);\n    context.set('options', msg.payload);\n    return;\n}\n\nvar options = context.get('options')||{min:0, max:100};\nvar value = context.get(  'value');\nif (isNaN(value)) { \n    value = options.min + (options.max-options.min)/2;\n}\n//node.log(\"previous value: \"+value)\n//node.log(\"delta: \"+msg.payload)\nif (options.maxdelta && msg.payload > options.maxdelta) { msg.payload = options.maxdelta; }\nvalue += msg.payload;\nif (value > options.max) { value = options.max }\nif (value < options.min) { value = options.min }\ncontext.set('value', value);\nmsg.payload = Math.round(value);\nif (options.topic) { msg.topic = options.topic; }\n\n//node.log(\"Value now \"+msg.payload);\nnode.status({text:msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":120,"wires":[[]]},{"id":"a85d46c1.7c2858","type":"ui_chart","z":"5572fdc2.805504","name":"","group":"b07a2691.15906","order":2,"width":"6","height":"6","label":"","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"bezier","nodata":"","ymin":"0","ymax":"10","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#2CA02C","#98DF8A","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":790,"y":80,"wires":[[],[]]},{"id":"e0b20412.f2341","type":"ui_gauge","z":"5572fdc2.805504","name":"","group":"b07a2691.15906","order":1,"width":"6","height":"3","gtype":"gage","title":"New Members last hour","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#CA3838","#E6E600","#00B500"],"seg1":"","seg2":"","x":850,"y":40,"wires":[]},{"id":"a6a421ee.b2aa8","type":"subflow:81d0b972.c77c8","z":"5572fdc2.805504","name":"Signups last hour","x":480,"y":40,"wires":[["ac2efa6f.e0c28"]]},{"id":"bb95a0ff.7810b","type":"inject","z":"5572fdc2.805504","name":"at startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":100,"y":40,"wires":[["65fd55d0.e89eec","d89539ea.c7009","f6d099e9.f0a618","a5e69b8.3e2b468","69f1bdc9.ec464c","cbad8558.8e6e6"]]},{"id":"5595eada.c8bc24","type":"ui_chart","z":"5572fdc2.805504","name":"","group":"e9f1a3d.06c966","order":2,"width":"6","height":"6","label":"","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"bezier","nodata":"","ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":670,"y":180,"wires":[[],[]]},{"id":"439bacb2.c6da0c","type":"ui_gauge","z":"5572fdc2.805504","name":"","group":"e9f1a3d.06c966","order":1,"width":"6","height":"3","gtype":"gage","title":"Orders last hour","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#CA3838","#E6E600","#00B500"],"seg1":"","seg2":"","x":700,"y":140,"wires":[]},{"id":"6a52339e.d2f6b4","type":"subflow:81d0b972.c77c8","z":"5572fdc2.805504","name":"Orders last hour","x":480,"y":140,"wires":[["5595eada.c8bc24","439bacb2.c6da0c"]]},{"id":"65fd55d0.e89eec","type":"template","z":"5572fdc2.805504","name":"random [0,10]","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\"topic\": \"current\", \"min\":0, \"max\":10, \"maxdelta\": 2}","x":300,"y":40,"wires":[["a6a421ee.b2aa8"]]},{"id":"d89539ea.c7009","type":"template","z":"5572fdc2.805504","name":"random [1,80]","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"topic\": \"current\", \"min\":1, \"max\":100}","x":300,"y":140,"wires":[["6a52339e.d2f6b4"]]},{"id":"178549d1.2d4566","type":"json","z":"81d0b972.c77c8","name":"Decode JSON","x":260,"y":20,"wires":[["835d8204.229f08"]]},{"id":"71d78c60.32f2f4","type":"subflow:81d0b972.c77c8","z":"5572fdc2.805504","name":"Signups last hour","x":480,"y":80,"wires":[["cdb9f4ba.a44af8"]]},{"id":"be47238d.29ddc","type":"subflow:81d0b972.c77c8","z":"5572fdc2.805504","name":"Orders last hour","x":480,"y":180,"wires":[["5595eada.c8bc24"]]},{"id":"f6d099e9.f0a618","type":"template","z":"5572fdc2.805504","name":"random [0,10]","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"topic\": \"last week\", \"min\":0, \"max\":10, \"maxdelta\":2}","x":300,"y":80,"wires":[["71d78c60.32f2f4"]]},{"id":"a5e69b8.3e2b468","type":"template","z":"5572fdc2.805504","name":"random [20,100]","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"topic\": \"last week\", \"min\":1, \"max\":100}","x":300,"y":180,"wires":[["be47238d.29ddc"]]},{"id":"ac2efa6f.e0c28","type":"smooth","z":"5572fdc2.805504","name":"","action":"mean","count":"300","round":"0","x":660,"y":40,"wires":[["e0b20412.f2341","a85d46c1.7c2858"]]},{"id":"cdb9f4ba.a44af8","type":"smooth","z":"5572fdc2.805504","name":"","action":"mean","count":"300","round":"0","x":660,"y":80,"wires":[["a85d46c1.7c2858"]]},{"id":"55bcec5b.dfa2dc","type":"ui_chart","z":"5572fdc2.805504","name":"","group":"fe99df7.4917da","order":2,"width":"6","height":"6","label":"","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"bezier","nodata":"","ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#9467BD","#C5B0D5","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD",""],"x":810,"y":280,"wires":[[],[]]},{"id":"a575174d.c41908","type":"ui_gauge","z":"5572fdc2.805504","name":"","group":"fe99df7.4917da","order":1,"width":"6","height":"3","gtype":"gage","title":"Average cart value","label":"units","format":"${{value}}","min":0,"max":10,"colors":["#CA3838","#E6E600","#00B500"],"seg1":"","seg2":"","x":850,"y":240,"wires":[]},{"id":"ab577be1.0de0a","type":"subflow:81d0b972.c77c8","z":"5572fdc2.805504","name":"Average Cart Value","x":490,"y":240,"wires":[["810d6b23.e5c62"]]},{"id":"69f1bdc9.ec464c","type":"template","z":"5572fdc2.805504","name":"random [8,75]","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"topic\": \"current\", \"min\":8, \"max\":75}","x":300,"y":240,"wires":[["ab577be1.0de0a"]]},{"id":"aeb2d3e1.dbb3e","type":"subflow:81d0b972.c77c8","z":"5572fdc2.805504","name":"Average Cart Value","x":490,"y":280,"wires":[["922333f1.09e728"]]},{"id":"cbad8558.8e6e6","type":"template","z":"5572fdc2.805504","name":"random [1,50]","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"topic\": \"last week\", \"min\":8, \"max\":75}","x":300,"y":280,"wires":[["aeb2d3e1.dbb3e"]]},{"id":"810d6b23.e5c62","type":"smooth","z":"5572fdc2.805504","name":"","action":"mean","count":"600","round":"2","x":660,"y":240,"wires":[["a575174d.c41908","55bcec5b.dfa2dc"]]},{"id":"922333f1.09e728","type":"smooth","z":"5572fdc2.805504","name":"","action":"mean","count":"600","round":"2","x":660,"y":280,"wires":[["55bcec5b.dfa2dc"]]},{"id":"5eeba4d4.6f203c","type":"subflow:81d0b972.c77c8","z":"26f99f95.0128a","name":"Orders Pending","x":460,"y":60,"wires":[["e9d96edb.c1fad"]]},{"id":"78454d1a.892a2c","type":"inject","z":"26f99f95.0128a","name":"at startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":90,"y":60,"wires":[["ba9c581f.803d7","4e9398dd.9ee36","43ce462d.ca935","1d61d5a0.359c02","ae230485.aded88"]]},{"id":"bef3c369.d9a868","type":"subflow:81d0b972.c77c8","z":"26f99f95.0128a","name":"Warn 15m","x":450,"y":140,"wires":[["33468a15.32e516"]]},{"id":"ba9c581f.803d7","type":"template","z":"26f99f95.0128a","name":"random [0,10]","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\"topic\": \"current\", \"min\":0, \"max\":10, \"maxdelta\": 2}","x":290,"y":60,"wires":[["5eeba4d4.6f203c"]]},{"id":"4e9398dd.9ee36","type":"template","z":"26f99f95.0128a","name":"random [1,100]","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"topic\": \"errors 15m\", \"min\":1, \"max\":100}","x":280,"y":140,"wires":[["bef3c369.d9a868"]]},{"id":"e4c71685.ce875","type":"subflow:81d0b972.c77c8","z":"26f99f95.0128a","name":"Errors 15m","x":450,"y":100,"wires":[["4fb59019.5beb2"]]},{"id":"e5ca4c7d.a3a2d8","type":"subflow:81d0b972.c77c8","z":"26f99f95.0128a","name":"API hits","x":500,"y":200,"wires":[["749909a7.5cb8c8","38996c96.2917bc"]]},{"id":"43ce462d.ca935","type":"template","z":"26f99f95.0128a","name":"random [0,50]","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"topic\": \"errors 15m\", \"min\":0, \"max\":50, \"maxdelta\":2}","x":290,"y":100,"wires":[["e4c71685.ce875"]]},{"id":"1d61d5a0.359c02","type":"template","z":"26f99f95.0128a","name":"random [4000,10000]","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"topic\": \"api hits\", \"min\":4000, \"max\":10000}","x":310,"y":200,"wires":[["e5ca4c7d.a3a2d8"]]},{"id":"7b671d1c.ac07d4","type":"subflow:81d0b972.c77c8","z":"26f99f95.0128a","name":"API Errors","x":500,"y":240,"wires":[["749909a7.5cb8c8","f4cbac3e.6097b"]]},{"id":"ae230485.aded88","type":"template","z":"26f99f95.0128a","name":"random [0,1000]","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"topic\": \"api errors\", \"min\":0, \"max\":1000}","x":320,"y":240,"wires":[["7b671d1c.ac07d4"]]},{"id":"749909a7.5cb8c8","type":"function","z":"26f99f95.0128a","name":"Calculate api error rate","func":"if (msg.topic == \"API hits\") {\n    context.set(\"hits\", msg.payload)\n}\nif (msg.topic == \"API errors\") {\n    context.set(\"errors\", msg.payload)\n}\nvar hits = context.get(\"hits\")\nvar errors = context.get(\"errors\")\nif (hits === undefined || errors === undefined) return null;\nreturn {topic: \"api error rate\", payload:100*errors/hits};\n","outputs":1,"noerr":0,"x":630,"y":300,"wires":[["b19e2961.81527"]]},{"id":"4fb59019.5beb2","type":"blynk-websockets-out-write","z":"26f99f95.0128a","name":"ERRORS 15min (v7)","pin":"7","client":"653c35c.7a990cc","x":660,"y":100,"wires":[]},{"id":"e9d96edb.c1fad","type":"blynk-websockets-out-write","z":"26f99f95.0128a","name":"orders pending (v6)","pin":"6","client":"653c35c.7a990cc","x":650,"y":60,"wires":[]},{"id":"33468a15.32e516","type":"blynk-websockets-out-write","z":"26f99f95.0128a","name":"WARN 15min (v8)","pin":"8","client":"653c35c.7a990cc","x":670,"y":140,"wires":[]},{"id":"38996c96.2917bc","type":"blynk-websockets-out-write","z":"26f99f95.0128a","name":"HTTP OK 15min (10)","pin":"10","client":"653c35c.7a990cc","x":700,"y":200,"wires":[]},{"id":"f4cbac3e.6097b","type":"blynk-websockets-out-write","z":"26f99f95.0128a","name":"HTTP ERR (v11)","pin":"11","client":"653c35c.7a990cc","x":680,"y":240,"wires":[]},{"id":"b19e2961.81527","type":"blynk-websockets-out-write","z":"26f99f95.0128a","name":"HTTP ERROR RATE 15min (v9)","pin":"9","client":"653c35c.7a990cc","x":890,"y":300,"wires":[]}]