red/flows.json
[{"id":"5572fdc2.805504","type":"tab","label":"NodeRed KPI Dashboard"},{"id":"26f99f95.0128a","type":"tab","label":"Blynk Error dashboard"},{"id":"2dc4bf99.2d10d","type":"tab","label":"App Review Response"},{"id":"fbaba14a.420718","type":"tab","label":"Social Media Monitor"},{"id":"4338b44.680e04c","type":"tab","label":"Trend-based alerting"},{"id":"7bc275b1.21064c","type":"tab","label":"Dashboard testing"},{"id":"90ab103f.0f76f","type":"tab","label":"Server Replica burnin test"},{"id":"81d0b972.c77c8","type":"subflow","name":"Random Variable","info":"","in":[{"x":80,"y":20,"wires":[{"id":"178549d1.2d4566"}]}],"out":[{"x":670,"y":120,"wires":[{"id":"835d8204.229f08","port":0}]}]},{"id":"ede13430.58fe58","type":"ui_tab","z":"","name":"KPIs","icon":"dashboard"},{"id":"b07a2691.15906","type":"ui_group","z":"","name":"Membership","tab":"ede13430.58fe58","disp":true,"width":"6"},{"id":"87d9ac18.091b9","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":32,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e9f1a3d.06c966","type":"ui_group","z":"","name":"Orders","tab":"ede13430.58fe58","order":2,"disp":true,"width":"6"},{"id":"fe99df7.4917da","type":"ui_group","z":"","name":"Average cart value","tab":"ede13430.58fe58","disp":true,"width":"6"},{"id":"1b105745.1cbbc1","type":"ui_tab","z":"","name":"Sales","icon":"dashboard"},{"id":"653c35c.7a990cc","type":"blynk-websockets-client","z":"","name":"DashCon Demo","path":"ws://blynk-cloud.com:8082/websocket","key":"6a5a4b501c0e4d608f14c2a3e8dea50d"},{"id":"4dd5eca5.d0ad8c","type":"inject","z":"81d0b972.c77c8","name":"1s timer","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":100,"y":80,"wires":[["a0425c24.73d23"]]},{"id":"a0425c24.73d23","type":"random","z":"81d0b972.c77c8","name":"random [-1,1]","low":"-1","high":"1","inte":"true","x":260,"y":80,"wires":[["835d8204.229f08"]]},{"id":"3956cb87.651fec","type":"inject","z":"81d0b972.c77c8","name":"1m timer","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":100,"y":160,"wires":[["c30e2da8.ab921"]]},{"id":"32424daa.91273a","type":"inject","z":"81d0b972.c77c8","name":"5s timer","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":100,"y":120,"wires":[["8ba49eae.d50ba8"]]},{"id":"8ba49eae.d50ba8","type":"random","z":"81d0b972.c77c8","name":"random [-5,5]","low":"-5","high":"5","inte":"true","x":260,"y":120,"wires":[["835d8204.229f08"]]},{"id":"c30e2da8.ab921","type":"random","z":"81d0b972.c77c8","name":"random [-20,20]","low":"-20","high":"20","inte":"true","x":260,"y":160,"wires":[["835d8204.229f08"]]},{"id":"835d8204.229f08","type":"function","z":"81d0b972.c77c8","name":"accumulate value","func":"//node.warn(util.inspect(msg));\n\n\n\nif (msg.payload === undefined) {\n    node.warn('nope');\n    return;\n}\nif (typeof(msg.payload) == \"object\") {\n    //node.warn(msg);\n    context.set('options', msg.payload);\n    return;\n}\n\nvar options = context.get('options')||{min:0, max:100};\nvar value = context.get(  'value');\nif (isNaN(value)) { \n    value = options.min + (options.max-options.min)/2;\n}\n//node.log(\"previous value: \"+value)\n//node.log(\"delta: \"+msg.payload)\nif (options.maxdelta && msg.payload > options.maxdelta) { msg.payload = options.maxdelta; }\nvalue += msg.payload;\nif (value > options.max) { value = options.max }\nif (value < options.min) { value = options.min }\ncontext.set('value', value);\nmsg.payload = Math.round(value);\nif (options.topic) { msg.topic = options.topic; }\n\n//node.log(\"Value now \"+msg.payload);\nnode.status({text:msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":120,"wires":[[]]},{"id":"a85d46c1.7c2858","type":"ui_chart","z":"5572fdc2.805504","name":"","group":"b07a2691.15906","order":2,"width":"6","height":"6","label":"","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"bezier","nodata":"","ymin":"0","ymax":"10","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#2CA02C","#98DF8A","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":790,"y":80,"wires":[[],[]]},{"id":"e0b20412.f2341","type":"ui_gauge","z":"5572fdc2.805504","name":"","group":"b07a2691.15906","order":1,"width":"6","height":"3","gtype":"gage","title":"New Members last hour","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#CA3838","#E6E600","#00B500"],"seg1":"","seg2":"","x":850,"y":40,"wires":[]},{"id":"a6a421ee.b2aa8","type":"subflow:81d0b972.c77c8","z":"5572fdc2.805504","name":"Signups last hour","x":480,"y":40,"wires":[["ac2efa6f.e0c28"]]},{"id":"bb95a0ff.7810b","type":"inject","z":"5572fdc2.805504","name":"at startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":100,"y":40,"wires":[["65fd55d0.e89eec","d89539ea.c7009","f6d099e9.f0a618","a5e69b8.3e2b468","69f1bdc9.ec464c","cbad8558.8e6e6"]]},{"id":"5595eada.c8bc24","type":"ui_chart","z":"5572fdc2.805504","name":"","group":"e9f1a3d.06c966","order":2,"width":"6","height":"6","label":"","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"bezier","nodata":"","ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":670,"y":180,"wires":[[],[]]},{"id":"439bacb2.c6da0c","type":"ui_gauge","z":"5572fdc2.805504","name":"","group":"e9f1a3d.06c966","order":1,"width":"6","height":"3","gtype":"gage","title":"Orders last hour","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#CA3838","#E6E600","#00B500"],"seg1":"","seg2":"","x":700,"y":140,"wires":[]},{"id":"6a52339e.d2f6b4","type":"subflow:81d0b972.c77c8","z":"5572fdc2.805504","name":"Orders last hour","x":480,"y":140,"wires":[["5595eada.c8bc24","439bacb2.c6da0c"]]},{"id":"65fd55d0.e89eec","type":"template","z":"5572fdc2.805504","name":"random [0,10]","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\"topic\": \"current\", \"min\":0, \"max\":10, \"maxdelta\": 2}","x":300,"y":40,"wires":[["a6a421ee.b2aa8"]]},{"id":"d89539ea.c7009","type":"template","z":"5572fdc2.805504","name":"random [1,80]","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"topic\": \"current\", \"min\":1, \"max\":100}","x":300,"y":140,"wires":[["6a52339e.d2f6b4"]]},{"id":"178549d1.2d4566","type":"json","z":"81d0b972.c77c8","name":"Decode JSON","x":260,"y":20,"wires":[["835d8204.229f08"]]},{"id":"71d78c60.32f2f4","type":"subflow:81d0b972.c77c8","z":"5572fdc2.805504","name":"Signups last hour","x":480,"y":80,"wires":[["cdb9f4ba.a44af8"]]},{"id":"be47238d.29ddc","type":"subflow:81d0b972.c77c8","z":"5572fdc2.805504","name":"Orders last hour","x":480,"y":180,"wires":[["5595eada.c8bc24"]]},{"id":"f6d099e9.f0a618","type":"template","z":"5572fdc2.805504","name":"random [0,10]","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"topic\": \"last week\", \"min\":0, \"max\":10, \"maxdelta\":2}","x":300,"y":80,"wires":[["71d78c60.32f2f4"]]},{"id":"a5e69b8.3e2b468","type":"template","z":"5572fdc2.805504","name":"random [20,100]","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"topic\": \"last week\", \"min\":1, \"max\":100}","x":300,"y":180,"wires":[["be47238d.29ddc"]]},{"id":"ac2efa6f.e0c28","type":"smooth","z":"5572fdc2.805504","name":"","action":"mean","count":"300","round":"0","x":660,"y":40,"wires":[["e0b20412.f2341","a85d46c1.7c2858"]]},{"id":"cdb9f4ba.a44af8","type":"smooth","z":"5572fdc2.805504","name":"","action":"mean","count":"300","round":"0","x":660,"y":80,"wires":[["a85d46c1.7c2858"]]},{"id":"55bcec5b.dfa2dc","type":"ui_chart","z":"5572fdc2.805504","name":"","group":"fe99df7.4917da","order":2,"width":"6","height":"6","label":"","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"bezier","nodata":"","ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#9467BD","#C5B0D5","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD",""],"x":810,"y":280,"wires":[[],[]]},{"id":"a575174d.c41908","type":"ui_gauge","z":"5572fdc2.805504","name":"","group":"fe99df7.4917da","order":1,"width":"6","height":"3","gtype":"gage","title":"Average cart value","label":"units","format":"${{value}}","min":0,"max":10,"colors":["#CA3838","#E6E600","#00B500"],"seg1":"","seg2":"","x":850,"y":240,"wires":[]},{"id":"ab577be1.0de0a","type":"subflow:81d0b972.c77c8","z":"5572fdc2.805504","name":"Average Cart Value","x":490,"y":240,"wires":[["810d6b23.e5c62"]]},{"id":"69f1bdc9.ec464c","type":"template","z":"5572fdc2.805504","name":"random [8,75]","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"topic\": \"current\", \"min\":8, \"max\":75}","x":300,"y":240,"wires":[["ab577be1.0de0a"]]},{"id":"aeb2d3e1.dbb3e","type":"subflow:81d0b972.c77c8","z":"5572fdc2.805504","name":"Average Cart Value","x":490,"y":280,"wires":[["922333f1.09e728"]]},{"id":"cbad8558.8e6e6","type":"template","z":"5572fdc2.805504","name":"random [1,50]","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"topic\": \"last week\", \"min\":8, \"max\":75}","x":300,"y":280,"wires":[["aeb2d3e1.dbb3e"]]},{"id":"810d6b23.e5c62","type":"smooth","z":"5572fdc2.805504","name":"","action":"mean","count":"600","round":"2","x":660,"y":240,"wires":[["a575174d.c41908","55bcec5b.dfa2dc"]]},{"id":"922333f1.09e728","type":"smooth","z":"5572fdc2.805504","name":"","action":"mean","count":"600","round":"2","x":660,"y":280,"wires":[["55bcec5b.dfa2dc"]]},{"id":"5eeba4d4.6f203c","type":"subflow:81d0b972.c77c8","z":"26f99f95.0128a","name":"Orders Pending","x":460,"y":60,"wires":[["e9d96edb.c1fad"]]},{"id":"78454d1a.892a2c","type":"inject","z":"26f99f95.0128a","name":"at startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":90,"y":60,"wires":[["ba9c581f.803d7","4e9398dd.9ee36","43ce462d.ca935","1d61d5a0.359c02","ae230485.aded88"]]},{"id":"bef3c369.d9a868","type":"subflow:81d0b972.c77c8","z":"26f99f95.0128a","name":"Warn 15m","x":450,"y":140,"wires":[["33468a15.32e516"]]},{"id":"ba9c581f.803d7","type":"template","z":"26f99f95.0128a","name":"random [0,10]","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\"topic\": \"current\", \"min\":0, \"max\":10, \"maxdelta\": 2}","x":290,"y":60,"wires":[["5eeba4d4.6f203c"]]},{"id":"4e9398dd.9ee36","type":"template","z":"26f99f95.0128a","name":"random [1,100]","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"topic\": \"errors 15m\", \"min\":1, \"max\":100}","x":280,"y":140,"wires":[["bef3c369.d9a868"]]},{"id":"e4c71685.ce875","type":"subflow:81d0b972.c77c8","z":"26f99f95.0128a","name":"Errors 15m","x":450,"y":100,"wires":[["4fb59019.5beb2"]]},{"id":"e5ca4c7d.a3a2d8","type":"subflow:81d0b972.c77c8","z":"26f99f95.0128a","name":"API hits","x":500,"y":200,"wires":[["749909a7.5cb8c8","38996c96.2917bc"]]},{"id":"43ce462d.ca935","type":"template","z":"26f99f95.0128a","name":"random [0,50]","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"topic\": \"errors 15m\", \"min\":0, \"max\":50, \"maxdelta\":2}","x":290,"y":100,"wires":[["e4c71685.ce875"]]},{"id":"1d61d5a0.359c02","type":"template","z":"26f99f95.0128a","name":"random [4000,10000]","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"topic\": \"api hits\", \"min\":4000, \"max\":10000}","x":310,"y":200,"wires":[["e5ca4c7d.a3a2d8"]]},{"id":"7b671d1c.ac07d4","type":"subflow:81d0b972.c77c8","z":"26f99f95.0128a","name":"API Errors","x":500,"y":240,"wires":[["749909a7.5cb8c8","f4cbac3e.6097b"]]},{"id":"ae230485.aded88","type":"template","z":"26f99f95.0128a","name":"random [0,1000]","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"topic\": \"api errors\", \"min\":0, \"max\":1000}","x":320,"y":240,"wires":[["7b671d1c.ac07d4"]]},{"id":"749909a7.5cb8c8","type":"function","z":"26f99f95.0128a","name":"Calculate api error rate","func":"if (msg.topic == \"API hits\") {\n    context.set(\"hits\", msg.payload)\n}\nif (msg.topic == \"API errors\") {\n    context.set(\"errors\", msg.payload)\n}\nvar hits = context.get(\"hits\")\nvar errors = context.get(\"errors\")\nif (hits === undefined || errors === undefined) return null;\nreturn {topic: \"api error rate\", payload:100*errors/hits};\n","outputs":1,"noerr":0,"x":630,"y":300,"wires":[["b19e2961.81527"]]},{"id":"4fb59019.5beb2","type":"blynk-websockets-out-write","z":"26f99f95.0128a","name":"ERRORS 15min (v7)","pin":"7","client":"653c35c.7a990cc","x":660,"y":100,"wires":[]},{"id":"e9d96edb.c1fad","type":"blynk-websockets-out-write","z":"26f99f95.0128a","name":"orders pending (v6)","pin":"6","client":"653c35c.7a990cc","x":650,"y":60,"wires":[]},{"id":"33468a15.32e516","type":"blynk-websockets-out-write","z":"26f99f95.0128a","name":"WARN 15min (v8)","pin":"8","client":"653c35c.7a990cc","x":670,"y":140,"wires":[]},{"id":"38996c96.2917bc","type":"blynk-websockets-out-write","z":"26f99f95.0128a","name":"HTTP OK 15min (10)","pin":"10","client":"653c35c.7a990cc","x":700,"y":200,"wires":[]},{"id":"f4cbac3e.6097b","type":"blynk-websockets-out-write","z":"26f99f95.0128a","name":"HTTP ERR (v11)","pin":"11","client":"653c35c.7a990cc","x":680,"y":240,"wires":[]},{"id":"b19e2961.81527","type":"blynk-websockets-out-write","z":"26f99f95.0128a","name":"HTTP ERROR RATE 15min (v9)","pin":"9","client":"653c35c.7a990cc","x":890,"y":300,"wires":[]},{"id":"72148087.62ee58","type":"appstore","z":"2dc4bf99.2d10d","name":"WidgetWorld App Reviews","appid":"WidgetWorld App","country":"AU","pollinginterval":30,"x":130,"y":60,"wires":[["cd509779.57fcc8","de048501.fe5338"]]},{"id":"cd509779.57fcc8","type":"switch","z":"2dc4bf99.2d10d","name":"One or Five Stars","property":"payload.rating","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","outputs":2,"x":370,"y":60,"wires":[["9429e256.eb2478"],["525246e5.8c8cb"]]},{"id":"de048501.fe5338","type":"sentiment","z":"2dc4bf99.2d10d","name":"Analyse Review Text","x":140,"y":260,"wires":[["f7f919ac.08458"]]},{"id":"30b6c15d.446716","type":"e-mail","z":"2dc4bf99.2d10d","server":"smtp.gmail.com","port":"465","name":"support@example.com","dname":"by email","x":500,"y":120,"wires":[]},{"id":"9429e256.eb2478","type":"template","z":"2dc4bf99.2d10d","name":"Notify support of one-star review","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Dear support,\n\nThe WidgetWorld app received the below one-star\nreview.  Please follow up with with the customer\nand make their day wonderful.\n\nThis is the review: {{payload}} !","x":260,"y":120,"wires":[["30b6c15d.446716"]]},{"id":"525246e5.8c8cb","type":"template","z":"2dc4bf99.2d10d","name":"Crow about a five star review","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Thanks {{payload.name}} for giving WidgetWorld App Five Stars!","x":280,"y":180,"wires":[["444c7fb7.fcead"]]},{"id":"444c7fb7.fcead","type":"twitter out","z":"2dc4bf99.2d10d","twitter":"","name":"on Twitter","x":500,"y":180,"wires":[]},{"id":"f7f919ac.08458","type":"switch","z":"2dc4bf99.2d10d","name":"Exceedingly bad review","property":"sentiment.score","propertyType":"msg","rules":[{"t":"lt","v":"-3","vt":"num"}],"checkall":"true","outputs":1,"x":410,"y":260,"wires":[["20a9016d.a2bbbe"]]},{"id":"20a9016d.a2bbbe","type":"pushover","z":"2dc4bf99.2d10d","name":"Alert the head of marketing","device":"","title":"","priority":0,"sound":"","url":"","url_title":"","x":420,"y":340,"wires":[]},{"id":"16c03bc4.17ad84","type":"twitter in","z":"fbaba14a.420718","twitter":"","tags":"","user":"event","name":"Listen for WidgetWorld twitter mentions","topic":"tweets","inputs":0,"x":190,"y":60,"wires":[["84a7c3b0.9e50f8","c6bc3f02.ba4c7"]]},{"id":"84a7c3b0.9e50f8","type":"switch","z":"fbaba14a.420718","name":"Detect users with questions","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"hey @widgetworld.*how","vt":"str","case":false},{"t":"cont","v":"?","vt":"str"}],"checkall":"false","outputs":2,"x":300,"y":140,"wires":[["b5e85efb.328ca8"],["b5e85efb.328ca8"]]},{"id":"c6bc3f02.ba4c7","type":"sentiment","z":"fbaba14a.420718","name":"Analyse sentiment","x":150,"y":300,"wires":[["f5db27bc.6d2878"]]},{"id":"b5e85efb.328ca8","type":"e-mail","z":"fbaba14a.420718","server":"smtp.gmail.com","port":"465","name":"ticket@example.com","dname":"Open support ticket","x":320,"y":200,"wires":[]},{"id":"f5db27bc.6d2878","type":"switch","z":"fbaba14a.420718","name":"Abusive user","property":"sentiment.score","propertyType":"msg","rules":[{"t":"lte","v":"-2","vt":"str"}],"checkall":"true","outputs":1,"x":350,"y":340,"wires":[["a1bc8af5.88432"]]},{"id":"a1bc8af5.88432","type":"e-mail","z":"fbaba14a.420718","server":"smtp.gmail.com","port":"465","name":"head_of_support@example.com","dname":"Forward to head of customer care","x":280,"y":400,"wires":[]},{"id":"f5d1cb91.1e75d8","type":"es-search","z":"4338b44.680e04c","name":"from Elasticsearch","documentIndex":"","documentType":"","query":"","sort":"","includeFields":"","maxResults":10,"server":"","x":450,"y":120,"wires":[["e66dc6c4.2efec8"]]},{"id":"6409f389.abc4e4","type":"inject","z":"4338b44.680e04c","name":"Every 30 minutes","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":60,"wires":[["f34040a7.d3f17"]]},{"id":"f34040a7.d3f17","type":"template","z":"4338b44.680e04c","name":"Get recent payment outcomes","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","x":190,"y":120,"wires":[["f5d1cb91.1e75d8"]]},{"id":"e66dc6c4.2efec8","type":"function","z":"4338b44.680e04c","name":"Analyse trend","func":"\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":180,"wires":[["5e34a910.25d708"]]},{"id":"5e34a910.25d708","type":"switch","z":"4338b44.680e04c","name":"if up >50% over last 4 hours","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","outputs":1,"x":420,"y":180,"wires":[["cb172b75.fd4c88"]]},{"id":"cb172b75.fd4c88","type":"pushover","z":"4338b44.680e04c","name":"Page the payments team","device":"","title":"","priority":0,"sound":"","url":"","url_title":"","x":430,"y":240,"wires":[]},{"id":"57cffa5a.e6fa2c","type":"es-search","z":"4338b44.680e04c","name":"from Elasticsearch","documentIndex":"","documentType":"","query":"","sort":"","includeFields":"","maxResults":10,"server":"","x":450,"y":360,"wires":[["72e1d2d3.0cecd4"]]},{"id":"9cd1bb88.a58bc","type":"inject","z":"4338b44.680e04c","name":"Every 5 minutes","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":300,"wires":[["6d74d283.0c908c"]]},{"id":"6d74d283.0c908c","type":"template","z":"4338b44.680e04c","name":"Get server load status summary","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","x":190,"y":360,"wires":[["57cffa5a.e6fa2c"]]},{"id":"99ac41bb.a203e","type":"switch","z":"4338b44.680e04c","name":"and server count above highwater","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","outputs":1,"x":440,"y":420,"wires":[["e7ea9072.0b8de","1b275e7b.f570aa"]]},{"id":"72e1d2d3.0cecd4","type":"switch","z":"4338b44.680e04c","name":"if average load over 80%","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","outputs":1,"x":170,"y":420,"wires":[["99ac41bb.a203e"]]},{"id":"e7ea9072.0b8de","type":"mqtt out","z":"4338b44.680e04c","name":"Activate low-complexity page layout","topic":"","qos":"","retain":"","broker":"","x":430,"y":480,"wires":[]},{"id":"1b275e7b.f570aa","type":"pushover","z":"4338b44.680e04c","name":"Page the SRE team","device":"","title":"","priority":0,"sound":"","url":"","url_title":"","x":450,"y":540,"wires":[]},{"id":"94a5caf7.8b4bd8","type":"comment","z":"7bc275b1.21064c","name":"Build your BI pipeline around source, analyse, render","info":"","x":250,"y":60,"wires":[]},{"id":"d03cd3f4.289b58","type":"es-search","z":"7bc275b1.21064c","name":"Gather real data","documentIndex":"","documentType":"","query":"","sort":"","includeFields":"","maxResults":10,"server":"","x":140,"y":180,"wires":[["edfcd9ad.1b7cf8"]]},{"id":"5a019683.cf5d38","type":"ui_dropdown","z":"7bc275b1.21064c","name":"Choose stub data, Stub analysis or live","label":"","place":"Select option","group":"b07a2691.15906","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":220,"y":120,"wires":[["be8fdbac.19683"]]},{"id":"be8fdbac.19683","type":"function","z":"7bc275b1.21064c","name":"Save choice","func":"\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":120,"wires":[[]]},{"id":"7201dca7.60b24c","type":"template","z":"7bc275b1.21064c","name":"Generate stub data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","x":150,"y":220,"wires":[["edfcd9ad.1b7cf8"]]},{"id":"edfcd9ad.1b7cf8","type":"function","z":"7bc275b1.21064c","name":"Choose real or stub data","func":"\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":180,"wires":[["21b88c6b.013e1c"]]},{"id":"f283ab04.81b59","type":"template","z":"7bc275b1.21064c","name":"Generate stub analysis","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","x":160,"y":280,"wires":[["21b88c6b.013e1c"]]},{"id":"21b88c6b.013e1c","type":"function","z":"7bc275b1.21064c","name":"Choose real or stub analysis","func":"\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":280,"wires":[["ea3d3eef.98a818"]]},{"id":"ea3d3eef.98a818","type":"ui_chart","z":"7bc275b1.21064c","name":"","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":640,"y":280,"wires":[[],[]]},{"id":"490c1f89.9ff968","type":"mqtt in","z":"90ab103f.0f76f","name":"Listen for new webserver","topic":"","qos":"2","broker":"","x":150,"y":80,"wires":[["d876c791.2d0a1"]]},{"id":"d876c791.2d0a1","type":"exec","z":"90ab103f.0f76f","command":"","addpay":true,"append":"","useSpawn":"","timer":"","name":"Trigger gatling test","x":400,"y":80,"wires":[["c49847c6.297eb8","267e81a0.bf5be6"],[],[]]},{"id":"c49847c6.297eb8","type":"exec","z":"90ab103f.0f76f","command":"","addpay":true,"append":"","useSpawn":"","timer":"","name":"Confirm expected log entries are seen","x":460,"y":160,"wires":[[],[],[]]},{"id":"267e81a0.bf5be6","type":"es-search","z":"90ab103f.0f76f","name":"Look for event records","documentIndex":"","documentType":"","query":"","sort":"","includeFields":"","maxResults":10,"server":"","x":190,"y":220,"wires":[["c8e04471.9cac6"]]},{"id":"c8e04471.9cac6","type":"switch","z":"90ab103f.0f76f","name":"Saw expected events","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","outputs":1,"x":510,"y":220,"wires":[["190a9caf.c4c433"]]},{"id":"190a9caf.c4c433","type":"exec","z":"90ab103f.0f76f","command":"","addpay":true,"append":"","useSpawn":"","timer":"","name":"Confirm expected alerts were triggered","x":470,"y":300,"wires":[["2e8dbf5d.8c6018","61662972.152848"],[],[]]},{"id":"2e8dbf5d.8c6018","type":"mqtt out","z":"90ab103f.0f76f","name":"Add server to load pool","topic":"","qos":"","retain":"","broker":"","x":510,"y":420,"wires":[]},{"id":"61662972.152848","type":"mqtt out","z":"90ab103f.0f76f","name":"enable alert delivery","topic":"","qos":"","retain":"","broker":"","x":520,"y":380,"wires":[]},{"id":"d0afedb.0141b1","type":"inject","z":"7bc275b1.21064c","name":"At instantiation of CI environment","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":190,"y":400,"wires":[["1d3cd7d3.45789"]]},{"id":"1d3cd7d3.45789","type":"exec","z":"7bc275b1.21064c","command":"","addpay":true,"append":"","useSpawn":"","timer":"","name":"Initiate 100 known user-journeys","x":190,"y":460,"wires":[["5d3d03a0.d29854"],[],[]]},{"id":"5d3d03a0.d29854","type":"function","z":"7bc275b1.21064c","name":"Examine dashboard","func":"\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":520,"wires":[["e49c28eb.68d62"]]},{"id":"e49c28eb.68d62","type":"switch","z":"7bc275b1.21064c","name":"Confirm expected metric values","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","outputs":2,"x":190,"y":580,"wires":[["688ada19.6ef8cc"],["20defc6f.103344"]]},{"id":"688ada19.6ef8cc","type":"mqtt out","z":"7bc275b1.21064c","name":"test passed","topic":"","qos":"","retain":"","broker":"","x":430,"y":560,"wires":[]},{"id":"20defc6f.103344","type":"mqtt out","z":"7bc275b1.21064c","name":"test failed","topic":"","qos":"","retain":"","broker":"","x":420,"y":600,"wires":[]}]